html,body {
    margin: 0;
    padding: 0;
}

/*Header*/

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    height: 10vh;
    justify-content: center;
    display: flex;
} 

li{
    width: 160px;
    text-align: center;
}

li a {
    display: block;
    color: white;
    padding: 40px 20px;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

li a:hover {
    background-color: white;
    color: black;
}

.logo{
    margin: 0;
    padding: 0;
    height: 201px;

}

.navigation {
    background-image: url("../img/image7.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 500px;
    font-size: 20px;
    background-repeat: no-repeat;
}

.navigation > p{
    text-align: center;
    margin: 0;
    padding: 100px;
}

/*Corps*/

#presentation{
    margin: 0px;
    padding: 0px;
    height: 500px;
    font-size: 30px;
}
.droite {
    float:right;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 1000px;
    width: 30%;
    padding-top: 50px;
    padding-right: 170px;
    overflow:hidden;
    
}

.droite a:hover {
    background-color: #2a4ab3;
    color:white;
}

.photo{
    background-image: url("../img/photo2.JPG");
    background-size: cover;
    margin: 0;
    padding: 0px;
    height: 1000px;
    width: 50%;
    padding-left: 20px;
    transform: rotate(90deg);
    transform-origin: center;
    overflow:hidden;
}