html,body {
    margin: 0;
    padding: 0;
}

/*Header*/

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    height: 10vh;
    justify-content: center;
    display: flex;
    padding-top: 206px;
} 

li{
    width: 160px;
    text-align: center;
}

li a {
    display: block;
    color: white;
    padding: 40px 20px;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

li a:hover {
    background-color: white;
    color: black;
}

.logo{
    margin: 0;
    padding: 0;
    height: 201px;

}

.navigation {
    background-image: url("../img/Nom2.png");
    background-size: cover;
    background-position: bottom;
    margin-top: 0px;
    padding-top: 200px;
    height: 300px;
    width : 100%;
    font-size: 20px;
    background-repeat: no-repeat;
}

.navigation > p{
    text-align: center;
    margin: 0;
    padding: 100px;
}
