html,
body{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans",
}

span{
    color: #502777;
}

/*Navigation + Header*/
/**************************/
.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
  
.logo {
    width: 9%;
    position: fixed;
    margin: 1% 45%;
    transition: width .3s ease ;
}
  
nav {
    position: fixed;
    width: 100%;
    z-index: +1;
}

nav.black .logo{
    width: 4%;
}
  
nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    margin-left: -6%;
    transition: 1s;
    height: 110px;
}
  
nav.black ul {
    background: #3d3c3a;
    height: 100px;
}
  
nav ul li {
    display: inline-block;
    margin: 16px 8%;
}
  
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
  
nav ul li a:hover{
    color: #0098f7;
    transition: 0.5s;
    text-decoration: none;
}
  
.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

/* Scroll effect*/
/**************************/
.from-right,
.from-left {
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
}
.from-right {
    transform: translate(50px,-30px);
}
.from-left {
    transform: translate(-50px,-30px);
}

/*Body*/
/**************************/

#portfolio{
    padding-top: 15%;
    z-index: 0;
}

.portfolio-content-head ul li {
    display: inline-block;
    cursor: pointer;
    padding: 12px 14px;
    font-weight: 700;
    color: #696969;
    margin: 0px 10px;
    transition: all 0.2s;
    font-size: 16px;
}

.portfolio-content-head ul li:hover {
    color: #0098f7;
}

.mixitup-control-active {
    color: #0098f7;
}

.mix {
    display: inline-block;
}

.portfolio-item {
    position: relative;
}

.portfolio-content-items .row {
    margin-right: 0px;
    margin-left: 0px;
}

.portfolio-content-items .col-md-4,
.portfolio-content-item .col-sm-4 {
    padding-right: 0px;
    padding-left: 0px;
}

.portfolio-img {
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
}

.portfolio-img img {
    transition: all 0.5s;
    width: 150%;
}

.portfolio-content-head {
    text-align: center;
    margin-bottom: 28px;
}

.portfolio-item:hover .portfolio-img img {
    transform: rotate(10deg) scale(1.4);
}

.portfolio-content {
    padding-top: 22px;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
    transition: all 0.5s;
    transform: scale(0);
}

.portfolio-overlay p,
.portfolio-overlay a {
    position: relative;
}

.portfolio-overlay::before {
    content: "";
    width: 0;
    height: 0;
    border-width: 0;
    position: absolute;
    left: 10%;
    top: 10%;
    transition: 50ms height ease 150ms;
}

.portfolio-overlay::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 0;
    position: absolute;
    right: 10%;
    bottom: 10%;
    transition: 100ms width ease 200ms;
}

.portfolio-item:hover .portfolio-overlay::before {
    width: 80%;
    height: 80%;
    border-top: 1px solid #0098f7;
    border-right: 1px solid #0098f7;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.5s;
}

.portfolio-item:hover .portfolio-overlay::after {
    width: 80%;
    height: 80%;
    border-bottom: 1px solid #0098f7;
    border-left: 1px solid #0098f7;
    transition: width 0.1s ease 0.6s, height 0.1s ease 0.7s;
}

.portfolio-item:hover .portfolio-overlay {
    visibility: visible;
    transform: scale(1);
}

.portfolio-overlay .category {
    margin-top: 90px;
    margin-bottom: 19px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.portfolio-overlay .magnify-icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #0098f7;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.25s;
}

.portfolio-overlay .magnify-icon:hover {
    background: #0098f7;
}

.portfolio-overlay .magnify-icon p span i {
    font-size: 15px;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
}

/* Footer */
/**************************/



/*-- main --*/
.main{
	height: 100%;
}
.main h1{
	font-family: 'Viga', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
    text-transform: uppercase;
}
.content{
    margin: 0 auto;
    width: 67%;
}
.footer-grids{
	background: #2e2e2e;
    padding: 3em 3em;
    height: 300px;
}
p.footer-gd {
    color: #908F8F;
    font-weight: 500;
	font-size:14px;
}
p.footer-gd a {
	color:#fff;
}
p.footer-gd a:hover {
	color: #2e99ff;
}
.footer{
	float:left;
}
.footer h3{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
    font-family: 'Viga', sans-serif;
}
.footer.one {
    width: 37%;
}
p.adam{
	float:right;
	color:#6F6E6E !important;
	font-size:13px !important;
	margin-top:20px;
}
.footer.three {
    width: 23%;
}
.footer.one p{
	color:#908F8F;
	line-height:2em;
	font-size:14px;
}
.footer.two {
    width: 23%;
    margin: 0 8%;
}
.footer.two ul{
	margin:0;
	padding:0;
}
.footer.two ul li{
	list-style-type:none;
	display:block;
    line-height: 1.5em;
	font-size:14px;
}
.footer.two ul li a{
color:#908F8F;	
display:block;
}
.footer.two ul li a.fb {
	 	 
    padding: 10px 0 12px 5px;
}
.footer.two ul li a.fb1 {
	
    padding: 10px 0 12px 5px;
}
.footer.two ul li a.fb2 {
    
    padding: 10px 0 12px 5px;
}

.footer.three ul li {
    list-style-type: none;
    display: block;
    color: #908F8F;
    font-size: 14px;
    line-height: 2.5em;
}
.footer.three ul li span {
    display: block;
}

.footer.three ul li a {
   
    display: block;
	color:#908F8F;
}
.copy-right-grids {
  padding: 30px 40px;
  background: #2e2e2e;
}
.copy-left{
	float:left;
}
.copy-right{
	float:right;
}
.copy-right ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0px;
    border-left: 1px solid #444343;
    padding: 0 12px;
}
.copy-right ul li a {
    color: #908F8F;
	font-size:13px;
}
.copy-right ul li:nth-child(1) {
    border: none;
}
.footer.two ul li a.fb:hover {
    background: url('../images/social3hover.png') no-repeat 0px 4px;
}
.footer.two ul li a.fb1:hover {
    background: url('../images/social2hover.png') no-repeat 0px 4px;
}
.footer.two ul li a.fb2:hover {
    background: url('../images/social4hover.png') no-repeat 0px 4px;
}
.footer.two ul li a.fb3:hover {
    background: url('../images/social5hover.png') no-repeat 0px 4px;
}
.footer.two ul li a.fb4:hover {
    background: url('../images/social1hover.png') no-repeat 0px 4px;
}
.footer.two ul li a:hover,.copy-right ul li a:hover,.footer.three ul li a:hover{
	color:#2e99ff;
}
/*-- responsive media queries --*/

@media (max-width: 1440px){
	.content {
		width: 73%;
	}	
}
@media (max-width: 1366px){
	.footer.one {
		width: 38%;
	}
	.footer-grids {
		padding: 2.5em 2.5em;
	}	
}
@media (max-width: 1280px){
	.main {
		padding: 80px 0;
	}	
}
@media (max-width: 1080px){
	.content {
		width: 80%;
	}
	.footer h3 {
		font-size: 19px;
	}
	.copy-left {
		float: none;
		text-align: center;
		margin-bottom: 15px;
	}
	.copy-right {
		float: none;
		text-align: center;
	}
	.footer.two ul li a.fb2 ,.footer.two ul li a.fb,.footer.two ul li a.fb1,.footer.two ul li a.fb3,.footer.two ul li a.fb4{
		padding: 10px 0 10px 38px;
	}
	.footer h3 {
		font-size: 18px;
	}
	.main h1 {
		font-size: 34px;
	}	
}
@media (max-width: 1024px){
	.footer-grids {
		padding: 2em 2em;
	}
	.content {
		width: 82%;
	}
	.main h1 {
		font-size: 33px;
		margin-bottom: 55px;
	}
}
@media (max-width: 991px){
	.footer.two {
		width: 27%;
		margin: 0 5%;
	}
	.footer.three {
		width: 25%;
	}	
}
@media (max-width: 800px){
	.content {
		width: 88%;
	}
	.footer.one p {
		font-size: 13px;
	}
	.footer.two ul li {
		font-size: 13px;
	}
	.footer.three ul li {
		font-size: 13px;
	}	
	.footer.three ul li:nth-child(1),.footer.three ul li:nth-child(2),.footer.three ul li a{
		padding-left: 32px;	
	}
	.footer h3 {
		font-size: 16px;
	}
}
@media (max-width: 768px){
	.content {
		width: 90%;
	}
	p.footer-gd {
		font-size: 13px;
	}	
	.main {
		padding: 135px 0;
	}
	.main h1 {
		margin-bottom: 120px;
	}
}
@media (max-width: 736px){
	.main {
		padding: 80px 0;
	}
	.main h1 {
		margin-bottom: 60px;
	}
	.footer.one {
		width: 35%;
	}
	.footer.two {
		width: 29%;
		margin: 0 4%;
	}
	.footer.three {
		width: 27%;
	}	
}
@media (max-width: 667px){
	.footer.one {
		width: 100%;
	}
	.footer.two {
		width: 48%;
		margin: 0 4% 0 0;
	}	
	.footer.three {
		width: 48%;
	}
	.footer.one {
		margin-bottom: 40px;
	}
}
@media (max-width: 640px){
	.main h1 {
		font-size: 30px;
	}	
	.footer-grids {
		padding: 2.5em 2.5em;
	}
}
@media (max-width: 600px){
	.main {
		padding: 65px 0;
	}
	.main h1 {
		font-size: 28px;
		margin-bottom: 45px;
	}
}
@media (max-width: 568px){
	
}
@media (max-width: 480px){
	.footer-grids {
		padding: 1.5em 1.5em;
	}
	.copy-right-grids {
		padding: 20px 10px;
	}
	.copy-right ul li {
		padding: 0 10px;
	}
	p.footer-gd {
		line-height: 1.8em;
	}	
	p.adam {
		margin-top: 9px;
	}
	.main h1 {
		font-size: 26px;
		margin-bottom: 38px;
	}
}
@media (max-width: 414px){
.footer.two {
    width: 100%;
}
.footer.three {
    width: 100%;
}
.footer h3 {
    margin-bottom: 18px;
}
.footer.one {
    margin-bottom: 0;
}
.footer.two {
    width: 100%;
    margin: 30px 0;
}
.footer-grids {
    padding: 2em 2em;
}
.main h1 {
    font-size: 25px;
}
.copy-right ul li {
    line-height: 1.8em;
}	
}
@media (max-width: 384px){
	
}
@media (max-width: 375px){
	.main h1 {
		font-size: 23px;
	}
	.main {
		padding: 60px 0;
	}	
}
@media (max-width: 320px){
	.main h1 {
		font-size: 21px;
	}
	.footer-grids {
		padding: 1em 1em;
	}
	.main {
		padding: 50px 0;
	}	
}

@media(max-width: 786px) {
  
    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }
  
    nav ul {
          max-height: 0px;
          background: #000;
    }
  
    nav.black ul {
          background: #000;
    }
  
    .showing {
          max-height: 34em;
    }
  
    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }
  
    .menu-icon {
          display: block;
    }
  
}
