html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    
}

/*header*/

.navigation{
    width: 123%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    
}

li {
    margin: 0px;
    padding-left: 15%;
    float: left;
    width: 100%;
    font-size: 18px;
    text-align: center;    

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    position: sticky;
    
} 

li a {
    display: block;
    color: rgb(50, 50, 50);
    padding: 40px 20px;
    padding-right: 20%;
    text-decoration: none;
}

li a:hover {
    background-color: #00568B;
    color: white;
}



/*body*/

.background{
    margin: 0px;
    padding: 0px;
    background-image: url("../img/photo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 123%;
}


#box1{
    margin: 0px;
    padding: 0px;
    width: 123%;
    height: 1300px;
}

#box1 > p{
    font-size: 20px;
    color: rgb(50, 50, 50);
    width: 90%;
    padding-left: 5%;
    text-align: left;
}

.portrait{
    width: 50%;
    padding-left: 25%;
}

#slideshow {
    margin: 0px;
    padding: 0px;
    width: 123%;
    height: 400px;

}

#slideshow .container {  
    position:relative;
    z-index: -1;  
    width: 100%;  
    height: 100%;  
    overflow: hidden;  
}  

#slideshow .slider {  
    position: absolute;  
    left:0; top:0;  
    width: 400%;  
    height: 310px; 
	-webkit-animation: slider 10s infinite; 
	-moz-animation: slider 10s infinite; 
	animation: slider 22s infinite;
}  

#slideshow figure {  
    position:relative;  
    display:inline-block;  
    padding:0; margin:0;  
}

.photo{
    width: 491px;
    height: 400px;
}

@-webkit-keyframes slider {  
    0%, 20%, 100%   { left: 0 }  
    25%, 45%        { left: -100% }  
    50%, 70%        { left: -200% }  
}

@-moz-keyframes slider {  
    0%, 20%, 100%   { left: 0 }  
    25%, 45%        { left: -100% }  
    50%, 70%        { left: -200% }
}

@keyframes slider {  
    0%, 20%, 100%   { left: 0 }  
    25%, 45%        { left: -100% }  
    50%, 70%        { left: -200% }  
}

#box3{
    margin: 0px;
    padding: 0px;
    padding-top: 5%;
    width: 123%;
    height: 1050px;
}

#box3 > p{
    font-size: 20px;
    color: rgb(50, 50, 50);
    width: 90%;
    padding-left: 5%;
}

.entract{
    width: 20%;
    padding-left: 40%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.logo{
    width: 100%;
    height: 500px;
}

#box4{
    margin: 0px;
    padding: 0px;
    width: 123%;
    height: 930px;
    background-color: #214E72;
}

iframe{
    width: 100%;
    height: 300px;
}

#box1 > p::first-letter{
    color: #0077B2;
    font-size: 40px
}

#box3 > p::first-letter{
    color: #0077B2;
    font-size: 40px
}

span{
    color: #0077B2;
    text-align: center;
}

.transition{
    width: 70%;
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 5%;
}

.transition2{
    width: 70%;
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 5%;
}

#box5{
    height: 100px;
}

/*Footer*/

footer {
    width: 123%;
    height: 300px; 
    background-color: #2e4d6b;
}

.profil{
    float: left;
    width: 30%;
    height: 150px;
    margin-top: 3.5%;
    margin-left: 2%;
}

.separateur{
    height: 250px;
    margin-top: 5%;
    margin-left: 2%;  
}

.footer1{
    float: right;
    width: 60%;
    margin-right: 5%;
    margin-top: 2%;
}

.footer2{
    float: right;
    width: 12%;
    margin-right: 27%;
    margin-top: -23%;
}

.credit{
    float: right;
    width: 8%;
    margin-right: 29%;
    margin-top: -17%;
}

.icon1{
    float: right;
    width: 5.2%;
    margin-right: 55%;
    margin-top: -33%;
}

.icon2{
    float: right;
    width: 5%;
    margin-right: 49%;
    margin-top: -33%;
}

@media(min-width: 800px){
    #box1 > p::first-letter{
        color: #0077B2;
        font-size: 40px
    }

    #box3 > p::first-letter{
        color: #0077B2;
        font-size: 40px
    }

    span{
        color: #0077B2;
    }

    .navigation{
        justify-content: space-between;
        position: fixed;
        width: 100%;
        background-color: #f5f5f5;
    }

    li {
        margin: 0px;
        padding: 0px;
        float: left;
        width: 150px;
        font-size: 18px;
        text-align: center;
    }
    
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0; 
        overflow: hidden;
        height: 100%;
        position: sticky;
    } 

    .transition{
        width: 20%;
        padding-left: 41%;
        margin-top: -3%;
    }

    .transition2{
        width: 20%;
        padding-left: 65%;
    }

    .background{
        height: 800px;
        width: 100%;
    }

    #box1{
        height: 800px;
        width: 100%;
    }

    #box1 > p{
        width: 38%;
        padding-left: 60%;
    }

    .portrait{
        float: left;
        width: 25%;
        margin-left: -10%;
        margin-top: -5%;
    }

    #slideshow {
        width: 100%;
        height: 700px;
    }

    .photo{
        width: 100%;
        height: 700px;
    }

    #box3{
        padding-top: 4%;
        width: 100%;
        height: 700px;
    }
    #box3 > p{
        width: 35%;
        padding-right: 2%;
    }

    .style1{

        float: left;
        text-align: right;
    }

    .style2{
        float: right;
        width: 40%;
        text-align: left;
        margin-left: -5%;
    }

    .style3{
        width: 100%;
        text-align: center;
        margin-left: 28%;
    }

    .entract{
        width: 5%;
        padding-left: 7%;
        padding-top: 3%;
    }

    #box4{
        width: 100%;
        height: 737px;
    }
    
    .logo{
        width: 100%;
        height: 737px;
    }

    .left{
        float: left;
        width: 50%;
        margin-top: -14.3%;
    }

    iframe{
        width: 40%;
        height: 450px;
        margin-left:5%;
    }

    footer{
        width: 100%;
        height: 330px;   
    }

    .profil{
        
        width: 15%;
        height: 200px;
        margin-left: 2%;
    }

    .separateur{
        float: none;
        height: 230px;
        margin-top: -30%;
        padding-left: 2%;
    }

    .footer1{
        float: none;
        width: 30%;
        padding-bottom: 6%;
    }

    .footer2{
        width: 6%;
        padding-left: 30%;
        padding-top: 5.4%;
    }

    .credit{
        float: right;
        width: 3.5%;
        margin-bottom: 14%;
        padding-top: 3%;
    }

    .icon1{
        float: none;
        width: 3%;
        margin-left: 25%;
        padding-bottom: 2%;
    }

    .icon2{
        float: none;
        width: 2.9%;
        margin-left: 28.5%;
        padding-bottom: 3.2%;

    }


    


}