html,body{
    margin: 0px;
    padding: 0px;
}

/*header*/

.navigation{
    width: 440px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
}

li {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 140px;
    font-size: 20px;
    text-align: center;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    height: 100px;
    position: sticky;
} 

li a {
    display: block;
    color: rgb(50, 50, 50);
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #00568B;
    color: white;
}

/*body*/

.background{
    margin: 0px;
    padding: 0px;
    background-image: url("../img/photo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 444px;
}


.box1{
    margin: 0px;
    padding: 0px;
    width: 444px;
    height: 900px;
}

.box1 > p{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    color: rgb(50, 50, 50);
    width: 90%;
    padding-left: 20px;
    text-align: left;
}

#slideshow {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 444px;
    height: 400px;

}

#slideshow .container {  
    position:relative;  
    width: 100%;  
    height: 100%;  
    overflow: hidden;  
}  

#slideshow .slider {  
    position: absolute;  
    left:0; top:0;  
    width: 400%;  
    height: 310px; 
	-webkit-animation: slider 10s infinite; 
	-moz-animation: slider 10s infinite; 
	animation: slider 22s infinite;
}  

#slideshow figure {  
    position:relative;  
    display:inline-block;  
    padding:0; margin:0;  
}

.photo{
    width: 440px;
    height: 400px;
}

@-webkit-keyframes slider {  
    0%, 20%, 100%   { left: 0 }  
    25%, 45%        { left: -100% }  
    50%, 70%        { left: -200% }  
}

@-moz-keyframes slider {  
    0%, 20%, 100%   { left: 0 }  
    25%, 45%        { left: -100% }  
    50%, 70%        { left: -200% }
}

@keyframes slider {  
    0%, 20%, 100%   { left: 0 }  
    25%, 45%        { left: -100% }  
    50%, 70%        { left: -200% }  
}

.box3{
    margin: 0px;
    padding: 0px;
    width: 444px;
    height: 1050px;
}

.box3 > p{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    color: rgb(50, 50, 50);
    width: 90%;
    padding-left: 20px;
}

.entract{
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    width: 444px;
    height: 400px;
}

.box4{
    margin: 0px;
    padding: 0px;
    width: 444px;
    height: 800px;
}

.right > p{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    color: rgb(50, 50, 50);
    width: 90%;
    padding-left: 20px;
}

.box1 > p::first-letter{
    color: #0077B2;
    font-size: 40px
}

.box3 > p::first-letter{
    color: #0077B2;
    font-size: 40px
}

span{
    color: #0077B2;
    text-align: center;
}

.transition{
    width: 300px;
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 20px;
}

.transition2{
    width: 300px;
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 20px;
}

@media(min-width: 800px){
    .box1 > p::first-letter{
        color: #0077B2;
        font-size: 40px
    }

    .box3 > p::first-letter{
        color: #0077B2;
        font-size: 40px
    }

    span{
        color: #0077B2;
    }

    .navigation{
        justify-content: space-between;
        position: fixed;
        width: 100%;
    }

    .transition{
        width: 300px;
        padding-top: 30px;
        padding-left: 800px;
        padding-bottom: 0px;
    }

    .transition2{
        width: 300px;
        margin-top: 100px;
        padding-left: 1200px;
        padding-bottom: 0px;
    }

    .background{
        height: 800px;
        width: 100%;
    }

    .box1{
        height: 750px;
        width: 100%;
    }

    .box1 > p{
        width: 38%;
        padding-left: 1000px;
        padding-top: 20px;
    }

    #slideshow {
        width: 100%;
        height: 700px;
    }

    .photo{
        width: 1900px;
        height: 900px;
    }

    .box3{
        padding-top: 50px;
        width: 100%;
        height: 500px;
    }
    .box3 > p{
        width: 40%;
        padding-right: 30px;
        padding-top: 20px;
    }

    .style1{

        float: left;
        width: 100px;
        text-align: right;
    }

    .style2{
        float: right;
        width: 200px;
        text-align: left;
    }

    .style3{
        width: 200px;
        text-align: center;
        margin-left: 550px;
    }

    .entract{
        padding-left: 90px;
        padding-top: 80px;
    }

    .box4{
        width: 100%;
    }
    
    .logo{
        width: 800px;
        height: 800px;
        padding-left: 50px;
    }

    .left{
        float: left;
        width: 50%;
    }

    .right{
        float: right;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 20px;
        color: rgb(50, 50, 50);
        width: 50%;
        margin-top: 50px;
    }

    .right > p{
        width: 90%;
    }

    


}