html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    
}

/*header*/

.navigation{
    width: 123%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    
}

li {
    margin: 0px;
    padding-left: 15%;
    float: left;
    width: 100%;
    font-size: 18px;
    text-align: center;    

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    position: sticky;
    
} 

li a {
    display: block;
    color: rgb(50, 50, 50);
    padding: 30px 10px;
    padding-right: 20%;
    text-decoration: none;
}

li a:hover {
    background-color: #00568B;
    color: white;
}



/*body*/

.background{
    margin: 0px;
    padding: 0px;
    background-image: url("../img/photo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 123%;
}

@media(min-width: 800px){
    .navigation{
        justify-content: space-between;
        position: fixed;
        width: 100%;
        background-color: #f5f5f5;
    }

    li {
        margin: 0px;
        padding: 0px;
        float: left;
        width: 150px;
        font-size: 18px;
        text-align: center;
    }
    
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0; 
        overflow: hidden;
        height: 100%;
        position: sticky;
    } 

    .slider{
        width:400px;
        height:200px;
        border:solid 1px #555;
        padding:0;
        position:relative;
        margin:150px auto;
    }
        
    #slider-list{
        list-style-type:none;
        display:flex;
        margin:0;
        position:absolute;
        left:0;
        top:0;
        padding:0;
    }

    #slider-list img{
        width:400px;
        height:200px;
        margin:0;
    }

    @keyframes slide{
        0%{left:0px;}
        10%{left:0px;}
        35%{left:-100%;}
        45%{left:-100%;}
        75%{left:-200%;}
        85%{left:-200%;}
        90%{left:0px;}
    }

    #slid_list{
        [...]
        animation:slide 15s linear infinite;
    }
}